<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
 	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/util.js"></script>  <!--current directory is public folder-->

 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  </head>

<body>
<div class="container">

<div class="row">
	<div class="col-md-8">
		<h5 >Assignment1 of W6998 Cloud Computing and Big Data</h5>
	</div>

	<div class="col-md-4">
		<select id="keyword" class="form-control" onchange="getval(this);">
		    <option value="good">good</option>
		    <option value="java">java</option>
		    <option value="song">song</option>
		    <option value="phone">phone</option>
		</select>
	</div>
</div>
<div id="map-canvas" class="col-md-12" style="height:500px"></div>
  

</body>
</html>