<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      /*html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}*/

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeZsx_PQOJYhqKpWNg6Qm5zolx-uPMt2k"></script>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
 <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var socket = io();
      var liveTweets = new google.maps.MVCArray();
      function initialize() {
		var myLatlng = new google.maps.LatLng(40,-70);
		var map = new google.maps.Map(document.getElementById('map-canvas'), {
			  center: myLatlng,
			  zoom: 2,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			});
		var heatmap = new google.maps.visualization.HeatmapLayer({
		    data: liveTweets,
		    radius: 25
		  });
		heatmap.setMap(map);
		$.get( "tweets/"+$('#keyword').val(), function( list ) {
			// console.log($('#keyword').val());
			console.log(list);
  			for (var i in list)
  			{
  				var tweetLocation = new google.maps.LatLng(list[i].lng,list[i].lat);
		  		liveTweets.push(tweetLocation);
			}
		});
	    socket.on('ts', function (data) {
	     		if (data.keyword != $('#keyword').val())
	     			console.log("pass");
	     		else
				{
	        	var tweetLocation = new google.maps.LatLng(data.lng,data.lat);
	        	console.log(tweetLocation);
			        liveTweets.push(tweetLocation);
			      var image = {
				    url: 'images/twitter_small.png'
					  };
			      	var marker = new google.maps.Marker({
				        position: tweetLocation,
				        map: map,
				        icon: image
			      		});
				    setTimeout(function(){
				        marker.setMap(null);
				      },600);
				}
	});
	  }
	  function getval(sel){
	  	// socket.emit("start", {"keyword": sel.value});
	  	liveTweets.clear();
	  	$.get( "tweets/"+sel.value, function( list ) {
			// console.log($('#keyword').val());
			console.log(list);
  			for (var i in list)
  			{
  				var tweetLocation = new google.maps.LatLng(list[i].lng,list[i].lat);
		  		liveTweets.push(tweetLocation);
			}
		});
	  }
    </script>
  </head>
<body onload="initialize()">
<div class="container">

<div class="row">
	<div class="col-md-8">
		<h5 >Assignment1 of W6998 Cloud Computing and Big Data</h5>
	</div>

	<div class="col-md-4">
		<select id="keyword" class="form-control" onchange="getval(this);">
		    <option value="good">good</option>
		    <option value="java">java</option>
		    <option value="song">song</option>
		    <option value="phone">phone</option>
		</select>
	</div>
</div>
<div id="map-canvas" class="col-md-12" style="height:500px"></div>
  

</body>
</html>